<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation"
        class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-transparent navbar-theme-primary">
        <div class="container position-relative">
            <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" href="/">
                Book Drivetest
            </a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item dropdown">
                        <a href="/" class="nav-link">
                            <span class="nav-link-inner-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="/g2" class="nav-link">
                            <span class="nav-link-inner-text">G2 Test</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="/g" class="nav-link">
                            <span class="nav-link-inner-text">G Test</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <a href="/login" class="btn btn-primary text-secondary d-none d-md-inline-block mr-3"><i
                        class="fa-solid fa-user mr-2"></i>
                    Login</a>
            </div>
        </div>
    </nav>
</header>