<!DOCTYPE html>
<html lang="en">
<%-include('layouts/head.ejs');-%>
    <body>
        <%-include('layouts/header.ejs');-%>
            <main>
                <section class="section section bg-soft pb-5 overflow-hidden z-2">
                    <div class="container z-2">
                        <div class="row justify-content-center text-center pt-6">
                            <div class="col-lg-8 col-xl-8">
                                <h1 class="display-2 mb-3">Dashboard</h1>
                                <p class="lead px-md-6 mb-5"><strong>Drivetest Kiosk</strong></p>
                                <div class="d-flex flex-column flex-wrap flex-md-row justify-content-md-center mb-5">
                                    <p>You can book G2/G Drivetest from this Kiosk</p>
                                </div>
                                <div class="d-flex align-items-center justify-content-center flex-column">
                                    <p>powered by Drivetest Center
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        <%-include('layouts/footer.ejs');-%>
    </body>
</html>